@model ChessOnlineWebAPI.Areas.HelpPage.TextSample

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>TextSample</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-group">
            Username:
            <asp:TextBox ID="Username" CssClass="form-control" runat="server"></asp:TextBox>
            <br />
            <br />
            Password:
            <asp:TextBox TextMode="Password" CssClass="form-control" ID="Password" runat="server"></asp:TextBox>
            <br />
            <br />
            <input type="submit" class="btn btn-primary" ID="LoginButton" runat="server" Text="Login"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="Register.aspx">Or Create a new Account</a>
            <br />
            <br />
            <a href="ForgotPassword.aspx">Forgot Password?</a>
        </div>

    </div>
    <div id="Error" class="alert alert-danger collapse">

    </div>
    <asp:Label ID="ErrorLabel" ForeColor="Red" Text=""></asp:Label>
</div>
}

<div>
    @Html.ActionLink("Create a new account", "Register")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
